<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        文件名: xxMapper-->


<!--
            namespace: 名称空间
            resultType: 数据返回的类型(全类名) ,如果配置别名则可以直接用类名
            id="selectBlog": sql语句的唯一标识

        -->

<!--        设置sql映射文件的namespace属性为Mapper接口的全限定名-->
<mapper namespace="com.hbmz.mapper.BookMapper">

    <!--    原生方案-->
    <!--<select id="selectAll" resultType="User">
        &lt;!&ndash;<select id="selectAll" resultType="com.hbmz.pojo.Student">&ndash;&gt;


        select * from t_demo01;

    </select>-->

    <!--    resultMap: 定义<resultMap> 完成不一致的属性名和列的映射-->
    <resultMap id="BookResultMap" type="Book">
        <!--resultMap中:
            id: 唯一标识符 &ndash;&gt; 用于和 resultMap对应
            type: 映射的类型, 支持别名

            -->

        <!--
                id: 完成组件字段的映射
                    column: 表列名
                    property: 实体类属性名

                result: 完成一般字段的映射
                    column: 表列名
                    property: 实体类属性名

            -->

    </resultMap>



    <delete id="deleteById" parameterType="int">
        delete from tbl_book where id = #{id}
    </delete>

    <select id="getAll" resultMap="BookResultMap">
        select * from tbl_book;
    </select>



</mapper>