<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        文件名: xxMapper-->


<!--
            namespace: 名称空间
            resultType: 数据返回的类型(全类名) ,如果配置别名则可以直接用类名
            id="selectBlog": sql语句的唯一标识

        -->

<!--        设置sql映射文件的namespace属性为Mapper接口的全限定名-->
<mapper namespace="com.hbmz.mapper.AccountsMapper">



</mapper>